@charset "UTF-8";
/*Typical Device Breakpoints
----------------------------
Pequenas Telas: até 600px
celular: de 600px até 768 px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

/*Telas de Tablets*/
@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to right, var(--cor0), var(--cor1));
        background-attachment: fixed;
    }
    section#login {
        width: 80vw;
        height: 300px;
        
    }

    div#imagem {
        float: left;
        width: 30vw;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 50vw;
    }
    div.campo input {
        width: 90%;
        transform: translateY(-3px);
    }

}


/*Telas Grandes*/
@media screen and (min-width: 992px) {
    body {
    background-image: linear-gradient(to left, var(--cor0), var(--cor1));
    background-attachment: fixed;
    }

    section#login{
        width: 80vw;
        height: 400px;
    }

    div#imagem {
        float: right;
        width: 35vw;
        height: 100%;
    }
    div#formulario {
        float: left;
        width: 45vw;
        margin-top:6vh;
        
    }

    div.campo input {
        width: 91%;
        transform: translateY(-3px);
        
    }
}